@charset "utf-8";

@media screen and (max-width: 1720px) {
	html, body {
		font-size:15px;
	}

    .header {
        padding:0 20px;
    }

    .about_left{
        padding-left:20px;
    }

    .about_content_wrap{
        padding-right:20px;
    }
    
    .work_screen_area {
        margin-left:20px;
    }

    .works_info_wrap {
        margin-right:20px;
    } 

    .main_title_wrap {
        padding:45px 40px 0 0px;
        margin-bottom:24px;
    }

    .main_title {
        gap:14px;
        margin-bottom:26px;
    }

    .title1 {
        font-size:40px;
    }

    .title2 .title_span {
        height:53px;
        font-size:27px;
    }

    .title3 {
        font-size:48px;
    }

    .title_bg {
        left:270px;
    }

    .title_bg img {
        width:90px;
    }

    .swiper-slide.history {
        padding:32px;
    }

    .main-swiper > .swiper-pagination-bullets.main-pagination {
        padding-right:101px;
    }

    .history-pagination .swiper-pagination-bullet .tab_title {
        height:38px;
        line-height:38px;
    }

    .content_bg_wrap {
        left:15%;
    }

    .info_title_area {
        padding:40px
    }

    .bottom_info_left, .bottom_info_right {
        padding:40px;
    }

    .screen_wrap {
        height:360px;
    }

    .device_bt {
        bottom:-62px;
    }

    .work_link_wrap {
        top:calc(50% - 24%);
        height:405px;
    }

    .work_link_wrap.phone {
        height:436px;
    }

    .phone_device_image_wrap {
        height:436px;
    }

    .device_iphone {
        height:436px;
    }

    .caption {
        bottom:60px;
    }

    .main_navi_wrap {
        padding:0 60px;
    }
}